@using LinkToolbar.Models
@model ToolbarViewModel

@{
    Layout = null;
}

@helper CreateLink(Link link){
    var hasChildren = link.Links.Any();
    <li>
        @if (hasChildren)
        {
            <img src="@link.ImageSrc" alt="@link.ImageAltText"/>
            @link.Name
            <ul>
            @foreach (var sublink in link.Links)
            {
                @CreateLink(sublink)
            }
        </ul>
        }
        else
        {
            string target = link.Target == LinkTarget.Current ? "theFrame" : "_blank";
            string computedHref = link.Target == LinkTarget.NewTab ? "/?targ=" + link.TargetHref : link.TargetHref;
            string displayText = link.Name == "-" ? "|" : link.Name;
            <li><a href="@computedHref" alt="@displayText" target="@target">@displayText</a></li>
        }
    </li>

}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HR Link Toolbar</title>
        <script text="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
        <link href="~/Content/KendoUI/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/KendoUI/kendo.bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/override.css" rel="stylesheet" />
    </head>
    <body>
        <div id="main-container" class="k-content respLarge">
            <div id="megaStore">
                <ul id="menu" >
                    @foreach (var link in Model.Links.OrderBy(l=>l.LinkId).Take(3))
                    {
                        @CreateLink(link)
                    }
                </ul>
            </div>
        </div>
        <iframe class="theFrame" id="theFrame" name="theFrame" src="http://www.humanityroad.org/"></iframe>
        
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/KendoUI/kendo.all.min.js"></script>
        <script type="text/javascript">
            $(function() {
                var newSource,
                    w = $(window),
                    f = $("#theFrame");

                var frameSize = function () {
                    f.css('height', w.height() - 72 + 'px');
                    f.css('width', w.width() - 10 + 'px');
                };
                w.resize(frameSize);
                frameSize();

                $("#menu").kendoMenu();

                function getQueryVariable(variable) {
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split("=");
                        if (pair[0] == variable) {
                            return pair[1];
                        }
                    }
                    return (false);
                }
                newSource = getQueryVariable("targ");
                if (newSource){
                    document.getElementById('theFrame').src = newSource;
                }
            });
        </script> 
    </body>
</html>
<!--http://localhost:51014/NavFrame.html?targ=http://www.humanityroad.org/-->