<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Humainitarian Toolbox - Links Toolbar</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*@Scripts.Render("~/bundles/modernizr")*@
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/KendoUI/kendo.common.min.css")
        @Styles.Render("~/Content/KendoUI/kendo.default.min.css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="~/Images/HTBox-v1.png" alt="Humanitarian Toolbox"/></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                   
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderSection("toolbar", false)
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Humanitarian Toolbox</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/Scripts/KendoUI/kendo.web.min.js")
        @Scripts.Render("~/Scripts/KendoUI/kendo.all.min.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
